body {
  background: #dedede;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0 8px 0;
}
.title-container svg {
  width: 50px;
  fill: #2f2f2f;
  height: 60px;
}
#chat {
  padding: 32px 0;
  border: none;
  max-width: 760px;
  margin: 0 auto;
  max-height: 422px;
  overflow-y: scroll;
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#chat::-webkit-scrollbar {
  display: none;
}

.message {
  color: #ececec;
  margin-bottom: 10px;
  padding: 13px 18px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: normal;
}

.user {
  border-radius: 25px 25px 0 25px;
  background: #2f2f2f;
  align-self: flex-end;
  text-align: right;
  font-size: 15px;
}

.bot {
  color: #2f2f2f;
  background: transparent;
  align-self: flex-start;
  text-align: left;
}

.timestamp {
  font-size: 0.8em;
  color: #666;
  position: absolute;
  bottom: -17px;
  right: 0px;
}

#chatForm {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4%;
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.chat-Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border: none;
  background: #2f2f2f;
  border-radius: 50px;
  padding: 14px;
  height: min-content;
}

.input-text {
  font-family: sans-serif;
  background: transparent;
  width: 89%;
  resize: none;
  border: none;
  outline: none;
  caret-color: #ececec;
  font-size: 17px;
  height: 21px;
  color: #ececec;
  font-weight: 500 !important;
}

.input-text::placeholder {
  color: #ececec;
}

.chatForm-send {
  position: absolute;
  right: 12px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 2px;
  border: none;
}

.chatForm-send.active {
  background-color: #ffffff;
  color: #2f2f2f; 
}

.chatForm-send.disabled {
  background-color: #676767;
  color: #2f2f2f;
}


.chatForm-send svg {
  color: #2f2f2f;
}

.file-uploader {
  margin-top: 1px;
  margin-left: -50px;
  background: transparent;
  border: none;
  color: #ffffff;
}
